In [1]:
a=3
b=4

In [2]:
d=6

In [3]:
c=a+b+d
c

13

# This Markdown

this is nb raw content

whenever you want to write insights and observations from data use NB raw content

In [4]:
pwd

'C:\\Users\\Ariya\\DataScienceClass5may'

In [5]:
a=2

In [6]:
type(a)

int

In [7]:
a='datamites'

In [8]:
type(a)

str

In [9]:
a

'datamites'

In [10]:
a= True

In [11]:
type(a)

bool

## getting inputs from users

In [5]:
x=int(input('enter first number'))
y=int(input('enter second number'))
z=str(x+y)
print('your answer is ' +z)

enter first number1
enter second number2
your answer is 3

# While Loop

In [7]:
i=1
while i<8:
    print('Python')
    i=i+1

Python
Python
Python
Python
Python
Python
Python

In [2]:
name='Sonali'
age='27'
subject='Python'
print('my name is {} and age is {} and I teach {}'.format(name,age,subject))

my name is Sonali and age is 27 and I teach Python

In [4]:
print("My name is ",name ,"my age is ",age,"I teach ",subject)

My name is  Sonali my age is  27 I teach  Python

In [6]:
name='Sonali'
age=27
print('my name is {1} and my age is {0} and my name is {1}'.format(age,name))

my name is Sonali and my age is 27 and my name is Sonali

In [6]:
name='Sonali'
role='Data Scientist'
age=27
print('My name is {} and my role is {} and age is {}'.format(name,role,age))

My name is Sonali and my role is Data Scientist and age is 27

In [10]:
name='Sonali'
role='Data Scientist'
age=27
print('My name is {1} and my role is {2} and age is {0}'.format(role,name,age))

My name is Sonali and my role is 27 and age is Data Scientist

# Slicing
- start
- stop
- step
- 3parameters[start: stop(E):Step]

In [13]:
st1='Welcome to Data Science Course'

st1

'Welcome to Data Science Course'

In [14]:
len(st1)

30

In [18]:
st1[-1]

'e'

In [19]:
st1[:5]

'Welco'

In [21]:
st1[1:]

'elcome to Data Science Course'

In [22]:
st1[:30:4]

'WotaSnCs'

In [23]:
st1.upper()

'WELCOME TO DATA SCIENCE COURSE'

In [24]:
st1.lower()

'welcome to data science course'

In [26]:
st1.split()

['Welcome', 'to', 'Data', 'Science', 'Course']

In [27]:
st1.split('o')

['Welc', 'me t', ' Data Science C', 'urse']

In [6]:
a=int(input('Please enter the first number'))
b=int(input('Please enter the second number'))
c= a+b
print('Here is your answer ',c)

Please enter the first number98
Please enter the second number66
Here is your answer  164

In [1]:
x='print("This is Python")'
eval(x)

This is Python

In [2]:
num=int(input('Enter the value'))
num

Enter the value3

3

In [3]:
type(num)

int

In [5]:
x='sum({8.5,16,32})'
eval(x)

56.5

In [7]:
type(eval(x))

float