## Agenda
* Anaconda Installation & Jupyter nb launch
* Jupyter nb with its menu and toolbar
* Intro to Python
* Python Basics-variables,print
* Data Types
* Typecasting
* input, format options
* slicing
* Operators
* other functions

Short cut keys
A->Insert cell above 
B->Insert cell below 
DD -> Delete a cell
z -> undo
m -> markdown
R -> raw
y -> code
ctrl+Enter -> Run a current cell
shft+Enter -> Run & goes to next cell

#### Python Basics
* Comment-> single,multi-line
* identifiers,variable
* print

In [1]:
# Area of Triangle
print("This is my first line of code") # '' "" # print is a inbuilt function to display any variable

This is my first line of code

In [2]:
'''This is a mutli  line 
comment for your reference'''
print('My name is Sonali')

My name is Sonali

In [3]:
'''This
is
a 
multi-line 
comment'''
print('This is for explaining multi-line comment')

This is for explaining multi-line comment

In [4]:
""" This is 
to explain
multi-line comment
with double quotes"""
print("Good Evening to all")

Good Evening to all

In [5]:
# Identifiers-> names given to a variable name, func name, any naming variable
# Rules-> alphabets/nos/_, no special char allowed
#variables-> the value can be assigned and it can also be changed
x = 10 # x is a variable(variable should follow the rules of identifier,var name is a identifier)
x

10

In [10]:
num1 = 20 ## asignment
num1 ## calling the variable

20

In [7]:
num_2 = 30
num_2

30

### DataTypes
* bool 
* int
* float
* str

In [8]:
# bool-True/False
x = True # asignment
x ## calling the variable

True

In [9]:
type(x) # datatype of the variable

bool

In [12]:
y = False
y

False

In [13]:
type(y)

bool

In [14]:
num1 = -45
type(num1)

int

In [15]:
# assign 0 to a variable num2 and print the datatype of num2
num2 = 0
type(num2)

int

In [11]:
# integer-> whole nos- +ve,-ve,0
num = 67
print(type(num)) ## print is used to display the variable, type will check the data type of variable
num

<class 'int'>

67

In [16]:
# float-> decimal values
xy = 58.987 # asignment
type(xy) # calling the variable

float

In [25]:
a=5
b=6
print(a,b)
a,b

5 6

(5, 6)

In [26]:
# str-> collection of alphabets enclosed within quotes(''/"")
name = "Deepa"
name

'Deepa'

In [27]:
print(name)

Deepa

In [22]:
# assign 98.56 to a variable num3 and print the datatype of num3
num3 = 98.56
type(num3)

float

In [ ]:
type(name)

In [20]:
role = 'Data Scientist2*+-'
role

'Data Scientist2*+-'

In [28]:
type(role)

str

## Typecasting
* Hierarchy->bool->int->float->str
* Auto
* Forced

In [ ]:
## typecasting is way of converting one data type to another

In [29]:
# Auto Typecasting
exp = 5 + False + 6.78 + True + 7 + 98.34   # 5.0 + 0.0 + 6.78 + 1.0 +7.0 + 98.34
exp

118.12

In [31]:
exp1 = 5 + False + True + 7+1.2
# 5 + 0 + 1 + 7
exp1

14.2

In [33]:
type(exp1)
int(7.4)

7

In [34]:
# Forced Typecasting
exp2 = int(5.43)
exp2

5

In [36]:
type(exp2)

int

In [35]:
# convert 45 into float datatype and type its datatype
ex = float(45)
ex

45.0

In [37]:
type(ex)

float

In [38]:
# convert 56 into str 
s = str(56)
s

'56'

In [39]:
# convert hi into int 
x = int('hi')
x

ValueError: invalid literal for int() with base 10: 'hi'

In [40]:
int('5')

5

In [41]:
float('3.54')

3.54

In [42]:
#convert True into float
float(True)

1.0

In [43]:
int(True)

1

In [44]:
float('True')

ValueError: could not convert string to float: 'True'

In [45]:
# Solve
exp3 = 5 + int('14') + float(True) + 15.67 + False -True -53.2
exp3

-18.53

In [46]:
# input ->str
num = input("Enter a value")
num

Enter a value5

'5'

In [47]:
type(num)

str

In [56]:
num = int(input("Enter a value"))
num

Enter a value6

6

In [ ]:
type(num)

In [57]:
num =float( input("Enter a value"))
num

Enter a value8

8.0

In [58]:
type(num)

float

In [48]:
x = str(eval('5+6'))
x

'11'

In [59]:
x = 'print(55)'
eval(x)

55

In [60]:
num = 10
print("The value of a number =",num)

The value of a number = 10

In [73]:
# assign name = 'John' and print the text My name is John
name = 'John'
print('My name is ',name)

My name is  John

In [1]:
x=sum({8,16,32})
x
y=eval('6**3')
y

216

In [3]:
# Format-{}->place holder
name = 'Deepa'
age = 33
print("My name is {} and my age is {}".format(name,age))

My name is Deepa and my age is 33

In [4]:
name = 'Deepa'
age = 33
print("My name is {1} and my age is {0} and my name is {1}".format(age,name))

My name is Deepa and my age is 33 and my name is Deepa

In [11]:
# Passing the variables dynamiclly
num = 20
print("The value of a number is" ,.num)

The value of a number is 20

In [50]:
name = 'Deepa'
age = 33 
role = 'Data Scientist'
print("My name is {} with role as {} and my age is {} ". format(name,role,age))

My name is Deepa with role as Data Scientist and my age is 33

In [51]:
print("My name is {0} with role as {2} and my age is {1} ". format(name,age,role))

My name is Deepa with role as Data Scientist and my age is 33

### Slicing 
* 3 parameters[start:stop(E):step]

In [12]:
st1 = "Welcome to Data Science Course"
## First function is associated with string data type and getting the length of data
len(st1)

30

In [20]:
st1[36]

IndexError: string index out of range

In [14]:
st1[8]

't'

In [38]:
st1[3:24:3]

'ceoa ic'

In [21]:
st1[3:8] # start,stop

'come '

In [17]:
st1[11:15]

'Data'

In [22]:
st1[11:15:3]

'Da'

In [30]:
st1[16: :2]

'SineCus'

In [36]:
st1[::-1] # Reverse of the string

'esruoC ecneicS ataD ot emocleW'

In [40]:
st1[-7:-15:-2]

' cec'

In [29]:
st1[14:10:-1]

'ataD'

In [12]:
# Other functions->upper,lower,split
st1

'Welcome to Data Science Course'

In [43]:
a='machine learning'
a[ : : -1]

'gninrael enihcam'

In [13]:
st1.upper()

'WELCOME TO DATA SCIENCE COURSE'

In [14]:
st1.lower()

'welcome to data science course'

In [46]:
a.split('e')

['machin', ' l', 'arning']

In [16]:
st1.split('c')

['Wel', 'ome to Data S', 'ien', 'e Course']

## Mathematical operators

In [1]:
## + addition
## - subtraction
## /,//,% for division
## * mulltiplication
## ** power of

In [2]:
## +
a=5 # asigning the variables
b=6
c=a+b ## summation
print('The value is',c)

The value is 11

In [3]:
a=10
b=4
c=a-b ## substraction
print('the value is',c)

the value is 6

In [6]:
a=3**4
print('The value is',a)
b=2
c=b**2
print('The value is',c)

The value is 81
The value is 4

In [3]:
## division
a=15
b=6
a/b ## when you want output to be float

2.5

In [5]:
a//b ## when you want to get interger outputi.e it will ignore the decimal part

0

In [6]:
a=15
b=2
a//b

7

In [7]:
a%b ## when you want reminder

1

In [4]:
##multiplication *
a=2
b=5
a*b

10

In [9]:
a**5 ## power of

32

In [10]:
a=2
b=7
c=5
a+b
print(a)

2

In [11]:
a=5
b=3
b

3